doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')
    link(rel='stylesheet', href='/stylesheets/grid.css')
    script(src='/scripts/vue/dist/vue.js')
    script(src='/scripts/vue-resource/dist/vue-resource.min.js')
    script(src='/scripts/vue-router/dist/vue-router.min.js')
    script(src='/scripts/vue-strap/dist/vue-strap.min.js')
    script(src='/scripts/vue-validator/dist/vue-validator.min.js')

  body
    block content
    script(src='/javascripts/app.js')
