//- Login form mixin

mixin loginForm
    .form-horizontal.col-md-offset-9.col-md-4
        .form-group
            label(for='inputEmail').col-md-2.control-label Email
            .col-md-6
                input(type='email' id='inputEmail' placeholder='Email' v-model='loginEmail').form-control
        .form-group
            label(for='inputPass').col-md-2.control-label Password
            .col-md-6
                input(type='password' id='inputPass' placeholder='Password' v-model='loginPass').form-control
        .form-group
            .col-md-offset-2.col-md-4
                .checkbox
                    label.col-md-12
                        .col-md-12
                            input(type='checkbox')
                            | Remember me
        .form-group
            .col-md-offset-2.col-md-4
                button(type='submit').btn.btn-default Sign in

//- End Login form mixin